* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #201b2d;
  font-size: 15px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* header  */

.header {
  background: rgba(78, 192, 254, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(78, 192, 254, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(78, 192, 254, 1)),
    color-stop(100%, rgba(55, 144, 217, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(78, 192, 254, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(78, 192, 254, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(78, 192, 254, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(78, 192, 254, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
  padding-top: 100px;
  padding-bottom: 143px;
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-size: 37px;
  margin-bottom: 48px;
}

.title span {
  font-size: 59px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 43px;
  width: 398px;
}

.btn {
  background: #ffd429;
  color: #2e2a1b;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 225px;
  padding: 28px 29px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s linear;
}

.btn:hover {
  background: #ffff00;
  transform: scale(1.1);
}

.desctop {
  margin-top: 30px;
}

/* learn section  */

.learn {
  padding-top: 112px;
  padding-bottom: 120px;
}

.benefits-icon {
  padding-left: 130px;
  margin-bottom: 30px;
}

.secondary-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 74px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.benefits-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 19px;
}

.benefits {
  width: 289px;
}

.text {
  text-align: center;

  font-weight: 400;
}

/* mail section  */

.mail {
  padding-top: 107px;
  padding-bottom: 102px;
  background: #ecf3f8;
}

.input {
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  width: 350px;
  border: 2px solid #bbbbbb;
  padding: 16px;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.btn-form {
  margin: 0 auto;
  width: 350px;
  border: none;
  padding: 24px;
}

.footer {
  background: #164d7a;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-text {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }

  .offer {
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .btn {
    margin: 0 auto;
  }

  .benefits {
    width: 100%;
  }

  .benefits-icon {
    padding-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .list {
    flex-direction: column;
  }

  .benefits-icon {
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10px;
  }

  .benefits:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .learn {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mail {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .desctop {
    width: 300px;
  }

  .benefits-icon {
  }

  .input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
